<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :locations, value: person.locations.map(&:name).join(",") %>
  </div>

  <div>
    <%= form.label :species, style: "display: block" %>
    <%= form.text_field :species %>
  </div>

  <div>
    <%= form.label :affiliation, style: "display: block" %>
    <%= form.text_field :affiliations, value: person.affiliations.map(&:name).join(",") %>
  </div>

  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.number_field :gender %>
  </div>

  <div>
    <%= form.label :weapon, style: "display: block" %>
    <%= form.text_field :weapon %>
  </div>

  <div>
    <%= form.label :vehicle, style: "display: block" %>
    <%= form.text_field :vehicle %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
