<div id="<%= dom_id person %>">
  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <%= person.locations.each do |location| %>
    <span><%=  location.name %></span>
    <% end %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= person.species %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= person.gender %>
  </p>

  <p>
    <strong>Weapon:</strong>
    <%= person.weapon %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= person.vehicle %>
  </p>

</div>
